*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

/* Estilos para el contenedor */
.contenedor {
    width: 200px;
    height: 100px;
    background-color: #ffc0cb; /* Color rosa */
    color: #ffffff; /* Color de texto blanco */
    font-family: 'Roboto', sans-serif; /* Familia de fuentes Roboto */
    text-align: center;
    line-height: 100px; /* Centramos verticalmente */
    border-radius: 10px; /* Bordes redondeados */
    transition: background-color 0.5s, transform 0.5s; /* Transición suave de color y transformación */
}

/* Estilos al pasar el mouse sobre el contenedor */
.contenedor:hover {
    background-color: #ff69b4; /* Color rosa más claro */
    transform: rotate(5deg); /* Rotación de 5 grados */
}

/* Estilos al hacer clic en el hipervínculo dentro del contenedor */
.contenedor a:active {
    background-color: #ff1493; /* Color rosa más oscuro */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra de la caja */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave de color y sombra */
}
